@title-color: midnightblue;

#body-tabbed {
  width: 100%;
  height: 100%;
  background: url("polaroid.png") 0 0 repeat;
  margin: 0;
  padding: 0;
}

#site-content {
  width: 96%;
  max-width: 1000px;
  margin: 0 auto;
}

.cell {
  display: inline-block;
  float: left;
  position: relative;
  margin: 1% 2% 1% 0;

  &-last-child {
    margin-right: 0;
  }

  &-label {
    font-weight: bold;
    color: darkslategray;
    letter-spacing: 1px;
    font-variant: small-caps;
  }
}

.group { //group of fields
  width: auto;
  overflow: auto;
  border: #1F9ECD outset;
  margin: 2em auto 1em auto;
  padding: .5em 1em;

  & > legend {
    color: #00788b;
    font-family: Georgia, serif;
    font-size: 120%;
    font-weight: bold;
  }
}

.header {
  margin: 1em 0;
  padding: 0;

  > .content-by-logo {
    display: inline-block;
    padding-left: 20px;
    width: 80%;
    vertical-align: top;
  }
}

.header-title {
  color: @title-color;
  font-size: 1.5em;
  margin: 0 0 4px 0;
}

.hidden {
  display: none !important;
}

input, select, textarea {
  padding-left: .25em;
  margin-bottom: 2px;
  margin-top: 2px;
  border-radius: 3px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select {
  height: 2.5em;
  box-sizing: border-box;
}

.input {
  border-top: #1F9ECD thin solid;
  padding-bottom: 10px;
  padding-top: 10px;
  overflow: hidden;

  & > p {
    padding-top: 10px;
  }
}

.left-col-16 {
  width: 16em;
  float: left;
}

.row {
  display: block;
  float: left;
  width: 100%;
  clear: both;
}

.submit {
  height: 2.5em;
  background-color: #76b2d7;
  border: 1px solid #766056;
  color: #3a2014;
  margin: 13px 0;
  padding: 8px 16px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  font-size: 14px;
  -webkit-box-shadow: inset 3px -3px 3px rgba(0, 0, 0, .5), inset 0 3px 3px rgba(255, 255, 255, .5), inset -3px 0 3px rgba(255, 255, 255, .75);
  -moz-box-shadow: inset 3px -3px 3px rgba(0, 0, 0, .5), inset 0 3px 3px rgba(255, 255, 255, .5), inset -3px 0 3px rgba(255, 255, 255, .75);
  box-shadow: inset 3px -3px 3px rgba(0, 0, 0, .5), inset 0 3px 3px rgba(255, 255, 255, .5), inset -3px 0 3px rgba(255, 255, 255, .75);
}

.w-100 {
  width: 100%;
}

.w-83 {
  width: 83%;
}

.w-66 {
  width: 66%;
}

.w-49 {
  width: 49%;
}

.w-32 {
  width: 32%;
}

.w-15 {
  width: 15%;
}

#signature, #signature2, #signature3, #signature4, #signature5 {
  border: 2px dotted black;
  background-color: lightgrey;
}

@import (inline) "tabbed/tabbed-hiper.css";
